<div class="container">

  <div class="row">

    <div class="col-md-3">
      <div><%= render 'user_info', user: @user %></div>
      <div>
        <% if @user==current_user %>
          <%= render 'books/new', book: Book.new %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h3>Books</h3>

      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <th><a href="/users/<%= @user.id %>"><%= image_tag book.user.get_profile_image(100, 100) %></a></th>
              <th><%= link_to book.title, book_path(book.id) %></th>
              <th><%= book.body %></th>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>