<div class="container">
  <div class="row">

    <div class="col-3">
      <%= render 'users/user_info', user: @user=current_user %>
      <%= render 'new', book: Book.new %>
    </div>

    <div class="col-9">
      <h3>Books</h3>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <th><%= image_tag book.user.get_profile_image(100, 100) %></th>
              <th><%= link_to book.title, book_path(book.id) %></th>
              <th><%= book.body %></th>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>

